[Desktop Entry]
Name=Arch Linux
GenericName=Terminal entering Arch Linux
Comment=Terminal entering Arch Linux
Categories=System;Utility
Exec=org.wezfurlong.wezterm --config "default_prog = { '/usr/bin/distrobox', 'enter', 'archlinux' }" start
Icon=/home/cassidy/.local/share/icons/distrobox/arch.png
Keywords=distrobox;
NoDisplay=false
Terminal=false
Type=Application
