[Desktop Entry]
Name=Toolbox
Comment=Terminal entering PopeRigby's toolbox
Categories=System;Utility
Exec=/usr/bin/konsole --profile Toolbox
Icon=/home/cassidy/.local/share/icons/distrobox/arch.png
Keywords=distrobox;
NoDisplay=false
Terminal=false
Type=Application
